@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;

  src: url("./Pretendard-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;

  src: url("./Pretendard-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;

  src: url("./Pretendard-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;

  src: url("./Pretendard-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;

  src: url("./Pretendard-Bold.ttf") format("truetype");
}
